<!DOCTYPE html>
<html dir="ltr" lang="et">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <title>{{title}} | Kambüüs</title>
    <meta name="description" content="{{description}}">
    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Laoküla merelaager">
    <meta property="og:locale" content="et">
    <meta property="og:url" content="https://merelaager.ee/{{url_path}}">
    <meta property="og:image" content="https://merelaager.ee/media/img/merelaager_banner.jpg">
    <meta property="og:title" content="{{title}} | Kambüüs">
    <meta property="og:description" content="{{description}}">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@merelaager">
    <!-- Browser -->
    <link href="https://merelaager.ee/media/img/favicons/favicon-196x196.png" rel="icon" sizes="196x196"
          type="image/png"/>
    <link href="https://merelaager.ee/{{url_path}}" rel="canonical"/>
    <!-- Stylesheets -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@400;600;800&display=swap"
          rel="stylesheet">
    <link href="/media/css/master.min.css" rel="stylesheet" type="text/css"/>
    <!-- Humans -->
    <link rel="author" href="/humans.txt"/>
    <!-- Script -->
    <script async defer src="/media/scripts/root.js" type="text/javascript"></script>
    <script async defer src="{{script_path}}" type="module"></script>
</head>
<body class="admin-page{{body_class}}">
<div class="c-sidebar">
    <a href="/kambyys/" class="c-sidebar-title">Kambüüs</a>
    <nav class="c-admin-nav">
        <ul class="u-list-blank">
            <li><a href="/kambyys/arvegeneraator/">Arvegeneraator</a></li>
            <li><a href="/kambyys/nimekiri/">Nimekiri</a></li>
            <li><a href="/kambyys/telgid/">Telgid</a></li>
        </ul>
    </nav>
</div>
<div class="admin-page__title">
    <span>{{pTitle}}</span>
</div>
<div class="admin-page__user">
    <span>{{usrName}}</span>
</div>
<main role="main" class="c-content">
    {{{body}}}
</main>
</body>
</html>
