<div id="auth-key" class="is-hidden">{{ key }}</div>
<table class="c-camper-table">
    <tr>
        <th>Reg ID</th>
        <th>Nimi</th>
        <th>Isikukood</th>
        <th>Sugu</th>
        <th>S체nnip채ev</th>
        <th>Vana olija?</th>
        <th>Vahetus</th>
        <th>Ts채rgi suurus</th>
        <th>Linn / k체la / vald</th>
        <th>Maakond</th>
        <th>Arve nr</th>
        <th>Kontakt</th>
        <th>Registreeritud?</th>
        <th>Bronnitasu</th>
        <th>Laagritasu</th>
    </tr>
    {{#unless boss}}
        {{#each campers}}
            <tr>
                <td>{{ this.id }}</td>
                <td>{{this.name}}</td>
                <td style="font-family: monospace">{{ this.idCode }}</td>
                <td>{{ this.gender }}</td>
                <td style="font-family: monospace">{{ this.bDay }}</td>
                <td>{{ this.isOld }}</td>
                <td>{{ this.shift }}</td>
                <td>{{ this.tShirtSize }}</td>
                <td>{{ this.city }}</td>
                <td>{{ this.county }}</td>
                <td style="font-family: monospace">{{ this.billNr }}</td>
                <td>{{ this.contact }}</td>
                <td>{{ this.registered }}</td>
                <td class="{{ this.prePaid.class }}">{{ this.prePaid.name }}</td>
                <td class="{{ this.fullPaid.class }}">{{ this.fullPaid.name }}</td>
            </tr>
        {{/each}}
    {{/unless}}
    {{#if boss}}
        {{#each campers}}
            <tr>
                <td>{{this.name}}</td>
                <td style="font-family: monospace">{{ this.idCode }}</td>
                <td>{{ this.gender }}</td>
                <td style="font-family: monospace">{{ this.bDay }}</td>
                <td>{{ this.isOld }}</td>
                <td>{{ this.shift }}</td>
                <td>{{ this.tShirtSize }}</td>
                <td>{{ this.city }}</td>
                <td>{{ this.county }}</td>
                <td style="font-family: monospace">{{ this.billNr }}</td>
                <td>{{ this.contact }}</td>
                <td>{{ this.registered }}</td>
                <td>
                    <button id="{{ this.id }}a"
                            class="prePayment {{ this.prePaid.class }}">{{ this.prePaid.name }}</button>
                </td>
                <td>
                    <button id="{{ this.id }}b"
                            class="fullPayment {{ this.fullPaid.class }}">{{ this.fullPaid.name }}</button>
                </td>
            </tr>
        {{/each}}
    {{/if}}
</table>
