<div id="auth-key" class="is-hidden">{{ key }}</div>
{{#unless boss}}
    <div>
        <p><b>Kirjas:</b> Poisse: {{data.boyCount }}, Tüdrukuid: {{ data.girlCount }}, Kokku: {{data.totalCount }}</p>
        <p><b>Ootel:</b> Poisse: {{ data.extraBoys }}, Tüdrukuid: {{ data.extraGirls }}</p>
    </div>
{{/unless}}
<table class="c-camper-table">
    <tr>
        <th>Reg ID</th>
        <th>Reg?</th>
        <th>Nimi</th>
        <th>Isikukood</th>
        <th>Sugu</th>
        <th>Sünnipäev</th>
        <th>Vana olija?</th>
        <th>Vahetus</th>
        <th>Tsärgi suurus</th>
        <th>Linn / küla / vald</th>
        <th>Maakond</th>
        <th>Arve nr</th>
        <th>Kontakt</th>
        <th>Makstud</th>
        <th>Kogusumma</th>
    </tr>
    {{#unless boss}}
        {{#each campers}}
            <tr>
                <td>{{ this.id }}</td>
                <td>
                    <button id="{{ this.id }}-reg" class="{{ this.registered }} clicker">{{ this.registered }}</button>
                </td>
                <td>{{this.name}}</td>
                <td style="font-family: monospace">{{ this.idCode }}</td>
                <td>{{ this.gender }}</td>
                <td style="font-family: monospace">{{ this.bDay }}</td>
                <td>{{ this.isOld }}</td>
                <td>{{ this.shift }}</td>
                <td>{{ this.tShirtSize }}</td>
                <td>{{ this.city }}</td>
                <td>{{ this.county }}</td>
                <td style="font-family: monospace">{{ this.billNr }}</td>
                <td>{{ this.contact }}</td>
                <td>{{ this.pricePaid }}</td>
                <td>{{ this.priceToPay }}</td>
            </tr>
        {{/each}}
    {{/unless}}
    {{#if boss}}
        {{#each campers}}
            <tr>
                <td>{{ this.id }}</td>
                <td>
                    <button id="{{ this.id }}-reg" class="{{ this.registered }} clicker">{{ this.registered }}</button>
                </td>
                <td>{{this.name}}</td>
                <td style="font-family: monospace">{{ this.idCode }}</td>
                <td>{{ this.gender }}</td>
                <td style="font-family: monospace">{{ this.bDay }}</td>
                <td>{{ this.isOld }}</td>
                <td>{{ this.shift }}</td>
                <td>{{ this.tShirtSize }}</td>
                <td>{{ this.city }}</td>
                <td>{{ this.county }}</td>
                <td style="font-family: monospace">{{ this.billNr }}</td>
                <td>{{ this.contact }}</td>
                <td>
                    <input id="{{ this.id }}-paid" type="text" value="{{ this.pricePaid }}">
                </td>
                <td>{{ this.priceToPay }}</td>
            </tr>
        {{/each}}
    {{/if}}
</table>
