{{#if boss}}
    <button id="1v-switch">1v</button>
    <button id="2v-switch">2v</button>
    <button id="3v-switch">3v</button>
    <button id="4v-switch">4v</button>
    {{#each data}}
        <div id="{{@key}}v-head" class="c-cl-head">
            <div class="c-cl-head__group c-cl-head__group--main">
                <div class="c-cl-count"><span class="head">poisid:</span> {{ this.regBoyCount }}</div>
                <div class="c-cl-count"><span class="head">tüdrukud:</span> {{ this.regGirlCount }}</div>
                <div class="c-cl-count"><span class="head">kokku:</span> {{ this.totalCount }}</div>
            </div>
            <div class="c-cl-head__group">
                <div class="c-cl-count"><span class="head">res. poisid:</span> {{ this.resBoyCount }}</div>
                <div class="c-cl-count"><span class="head">res. tüdrukud:</span> {{ this.resGirlCount }}</div>
            </div>
        </div>
    {{/each}}
{{/if}}
{{#unless boss}}
    <div class="c-cl-head">
        <div class="c-cl-head__group c-cl-head__group--main">
            <div class="c-cl-count"><span class="head">poisid:</span> {{ data.regBoyCount }}</div>
            <div class="c-cl-count"><span class="head">tüdrukud:</span> {{ data.regGirlCount }}</div>
            <div class="c-cl-count"><span class="head">kokku:</span> {{ data.totalCount }}</div>
        </div>
        <div class="c-cl-head__group">
            <div class="c-cl-count"><span class="head">res. poisid:</span> {{ data.resBoyCount }}</div>
            <div class="c-cl-count"><span class="head">res. tüdrukud:</span> {{ data.resGirlCount }}</div>
        </div>
    </div>
{{/unless}}
<table class="c-camper-table">
    <thead>
    <tr>
        <th>Reg ID</th>
        <th>Reg?</th>
        <th>Nimi</th>
        <th>Makstud</th>
        <th>Kogusumma</th>
        <th>Kontakt</th>
        <th>Vana?</th>
        <th>Sünnipäev</th>
        <th>Ts</th>
        <th>Tln?</th>
        <th>Arve nr</th>
        {{#if boss}}
            <th>Isikukood</th>
        {{/if}}
    </tr>
    </thead>
    {{#unless boss}}
        <tr>
            <td colspan="14">Poisid</td>
        </tr>
        {{#each data.regBoys}}
            <tr>
                <td>{{ this.id }}</td>
                <td>
                    <button id="{{ this.id }}-reg"
                            class="state {{ this.registered }} clicker">{{ this.registered }}</button>
                </td>
                <td>{{this.name}}</td>
                <td>{{ this.pricePaid }}</td>
                <td>{{ this.priceToPay }}</td>
                <td id="{{this.id}}-contact" class="c-camper-contact">
                    <a href="mailto:{{this.contactEmail}}"
                       class="c-camper-contact__name">{{ this.contactName }}</a>
                    <span class="c-camper-contact__phone">{{this.contactNr}}</span>
                </td>
                <td>
                    <button id="{{ this.id }}-old"
                            class="state {{ this.isOld }} clicker">{{ this.isOld }}</button>
                </td>
                <td style="font-family: monospace">{{ this.bDay }}</td>
                <td>{{ this.tShirtSize }}</td>
                <td>{{ this.tln }}</td>
                <td style="font-family: monospace">{{ this.billNr }}</td>
            </tr>
        {{/each}}
        <tr>
            <td colspan="14">Tüdrukud</td>
        </tr>
        {{#each data.regGirls}}
            <tr>
                <td>{{ this.id }}</td>
                <td>
                    <button id="{{ this.id }}-reg"
                            class="state {{ this.registered }} clicker">{{ this.registered }}</button>
                </td>
                <td>{{this.name}}</td>
                <td>{{ this.pricePaid }}</td>
                <td>{{ this.priceToPay }}</td>
                <td id="{{this.id}}-contact" class="c-camper-contact">
                    <a href="mailto:{{this.contactEmail}}"
                       class="c-camper-contact__name">{{ this.contactName }}</a>
                    <span class="c-camper-contact__phone">{{this.contactNr}}</span>
                </td>
                <td>
                    <button id="{{ this.id }}-old"
                            class="state {{ this.isOld }} clicker">{{ this.isOld }}</button>
                </td>
                <td style="font-family: monospace">{{ this.bDay }}</td>
                <td>{{ this.tShirtSize }}</td>
                <td>{{ this.tln }}</td>
                <td style="font-family: monospace">{{ this.billNr }}</td>
            </tr>
        {{/each}}
        <tr>
            <td colspan="14">Reserv poisid</td>
        </tr>
        {{#each data.resBoys}}
            <tr>
                <td>{{ this.id }}</td>
                <td>
                    <button id="{{ this.id }}-reg"
                            class="state {{ this.registered }} clicker">{{ this.registered }}</button>
                </td>
                <td>{{this.name}}</td>
                <td>{{ this.pricePaid }}</td>
                <td>{{ this.priceToPay }}</td>
                <td id="{{this.id}}-contact" class="c-camper-contact">
                    <a href="mailto:{{this.contactEmail}}"
                       class="c-camper-contact__name">{{ this.contactName }}</a>
                    <span class="c-camper-contact__phone">{{this.contactNr}}</span>
                </td>
                <td>
                    <button id="{{ this.id }}-old"
                            class="state {{ this.isOld }} clicker">{{ this.isOld }}</button>
                </td>
                <td style="font-family: monospace">{{ this.bDay }}</td>
                <td>{{ this.tShirtSize }}</td>
                <td>{{ this.tln }}</td>
                <td style="font-family: monospace">{{ this.billNr }}</td>
            </tr>
        {{/each}}
        <tr>
            <td colspan="14">Reserv tüdrukud</td>
        </tr>
        {{#each data.resGirls}}
            <tr>
                <td>{{ this.id }}</td>
                <td>
                    <button id="{{ this.id }}-reg"
                            class="state {{ this.registered }} clicker">{{ this.registered }}</button>
                </td>
                <td>{{this.name}}</td>
                <td>{{ this.pricePaid }}</td>
                <td>{{ this.priceToPay }}</td>
                <td id="{{this.id}}-contact" class="c-camper-contact">
                    <a href="mailto:{{this.contactEmail}}"
                       class="c-camper-contact__name">{{ this.contactName }}</a>
                    <span class="c-camper-contact__phone">{{this.contactNr}}</span>
                </td>
                <td>
                    <button id="{{ this.id }}-old"
                            class="state {{ this.isOld }} clicker">{{ this.isOld }}</button>
                </td>
                <td style="font-family: monospace">{{ this.bDay }}</td>
                <td>{{ this.tShirtSize }}</td>
                <td>{{ this.tln }}</td>
                <td style="font-family: monospace">{{ this.billNr }}</td>
            </tr>
        {{/each}}
    {{/unless}}
    {{#if boss}}
        {{#each data}}
            <tbody id="{{@key}}v-table">
            <tr>
                <td colspan="14">Poisid</td>
            </tr>
            {{#each this.regBoys}}
                <tr>
                    <td>{{ this.id }}</td>
                    <td>
                        <button id="{{ this.id }}-reg"
                                class="state {{ this.registered }} clicker">{{ this.registered }}</button>
                    </td>
                    <td>{{this.name}}</td>
                    <td>
                        <input id="{{ this.id }}-paid" class="price" type="text" value="{{ this.pricePaid }}">
                    </td>
                    <td>
                        <input id="{{ this.id }}-toPay" class="priceToPay" type="text" value="{{ this.priceToPay }}">
                    </td>
                    <td id="{{this.id}}-contact" class="c-camper-contact">
                        <a href="mailto:{{this.contactEmail}}"
                           class="c-camper-contact__name">{{ this.contactName }}</a>
                        <span class="c-camper-contact__phone">{{this.contactNr}}</span>
                    </td>
                    <td>
                        <button id="{{ this.id }}-old"
                                class="state {{ this.isOld }} clicker">{{ this.isOld }}</button>
                    </td>
                    <td style="font-family: monospace">{{ this.bDay }}</td>
                    <td>{{ this.tShirtSize }}</td>
                    <td>{{ this.tln }}</td>
                    <td style="font-family: monospace">{{ this.billNr }}</td>
                    <td style="font-family: monospace">{{ this.idCode }}</td>
                </tr>
            {{/each}}
            <tr>
                <td colspan="14">Tüdrukud</td>
            </tr>
            {{#each this.regGirls}}
                <tr>
                    <td>{{ this.id }}</td>
                    <td>
                        <button id="{{ this.id }}-reg"
                                class="state {{ this.registered }} clicker">{{ this.registered }}</button>
                    </td>
                    <td>{{this.name}}</td>
                    <td>
                        <input id="{{ this.id }}-paid" class="price" type="text" value="{{ this.pricePaid }}">
                    </td>
                    <td>
                        <input id="{{ this.id }}-toPay" class="priceToPay" type="text" value="{{ this.priceToPay }}">
                    </td>
                    <td id="{{this.id}}-contact" class="c-camper-contact">
                        <a href="mailto:{{this.contactEmail}}"
                           class="c-camper-contact__name">{{ this.contactName }}</a>
                        <span class="c-camper-contact__phone">{{this.contactNr}}</span>
                    </td>
                    <td>
                        <button id="{{ this.id }}-old"
                                class="state {{ this.isOld }} clicker">{{ this.isOld }}</button>
                    </td>
                    <td style="font-family: monospace">{{ this.bDay }}</td>
                    <td>{{ this.tShirtSize }}</td>
                    <td>{{ this.tln }}</td>
                    <td style="font-family: monospace">{{ this.billNr }}</td>
                    <td style="font-family: monospace">{{ this.idCode }}</td>
                </tr>
            {{/each}}
            <tr>
                <td colspan="14">Reserv poisid</td>
            </tr>
            {{#each this.resBoys}}
                <tr>
                    <td>{{ this.id }}</td>
                    <td>
                        <button id="{{ this.id }}-reg"
                                class="state {{ this.registered }} clicker">{{ this.registered }}</button>
                    </td>
                    <td>{{this.name}}</td>
                    <td>
                        <input id="{{ this.id }}-paid" class="price" type="text" value="{{ this.pricePaid }}">
                    </td>
                    <td>
                        <input id="{{ this.id }}-toPay" class="priceToPay" type="text" value="{{ this.priceToPay }}">
                    </td>
                    <td id="{{this.id}}-contact" class="c-camper-contact">
                        <a href="mailto:{{this.contactEmail}}"
                           class="c-camper-contact__name">{{ this.contactName }}</a>
                        <span class="c-camper-contact__phone">{{this.contactNr}}</span>
                    </td>
                    <td>
                        <button id="{{ this.id }}-old"
                                class="state {{ this.isOld }} clicker">{{ this.isOld }}</button>
                    </td>
                    <td style="font-family: monospace">{{ this.bDay }}</td>
                    <td>{{ this.tShirtSize }}</td>
                    <td>{{ this.tln }}</td>
                    <td style="font-family: monospace">{{ this.billNr }}</td>
                    <td style="font-family: monospace">{{ this.idCode }}</td>
                </tr>
            {{/each}}
            <tr>
                <td colspan="14">Reserv tüdrukud</td>
            </tr>
            {{#each this.resGirls}}
                <tr>
                    <td>{{ this.id }}</td>
                    <td>
                        <button id="{{ this.id }}-reg"
                                class="state {{ this.registered }} clicker">{{ this.registered }}</button>
                    </td>
                    <td>{{this.name}}</td>
                    <td>
                        <input id="{{ this.id }}-paid" class="price" type="text" value="{{ this.pricePaid }}">
                    </td>
                    <td>
                        <input id="{{ this.id }}-toPay" class="priceToPay" type="text" value="{{ this.priceToPay }}">
                    </td>
                    <td id="{{this.id}}-contact" class="c-camper-contact">
                        <a href="mailto:{{this.contactEmail}}"
                           class="c-camper-contact__name">{{ this.contactName }}</a>
                        <span class="c-camper-contact__phone">{{this.contactNr}}</span>
                    </td>
                    <td>
                        <button id="{{ this.id }}-old"
                                class="state {{ this.isOld }} clicker">{{ this.isOld }}</button>
                    </td>
                    <td style="font-family: monospace">{{ this.bDay }}</td>
                    <td>{{ this.tShirtSize }}</td>
                    <td>{{ this.tln }}</td>
                    <td style="font-family: monospace">{{ this.billNr }}</td>
                    <td style="font-family: monospace">{{ this.idCode }}</td>
                </tr>
            {{/each}}
            </tbody>
        {{/each}}
    {{/if}}
</table>
